div {
    width: 100px;
    height: 100px;
    background-color: #2b2d42;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: #588157;
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    /* Offset element */
    top: 50px;
    left: 50px;
}

#absolute #middle {
    /* Removed from the normal document flow and no space is left for the element - it is positioned relative to its closest *positioned* ancestor */
    position: absolute;
    /* Offset element */
    right: 100px;
}

#fixed #middle {
    /* Removed from the normal document flow and no space is left for the element - it is positioned relative to the initial containing block established by the viewport, except when one of its ancestors has a transform, perspective, or filter property set to something other than none */
    position: fixed;
    /* Offset element */
    right: 0
}